/* Estilos generales para la página de retos */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
   
}

h1, h2 {
    color: #2c3e50;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px;
}

/* Estilos para la sección de imágenes */
.photos .image-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.photos img {
    width: 30%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para el video */
.video iframe {
    display: block;
    margin: 20px auto;
    border-radius: 8px;
}

/* Estilos para el mapa conceptual */
.mapa-conceptual img {
    display: block;
    margin: 20px auto;
    border-radius: 8px;
}
/* Menú de navegación */
.dropdownmenu{
    
    box-sizing: border-box;
    width: 100%;
    background-color: rgb(49, 49, 49);
    height: 40px;
    

}
.dropdownmenu ul, .dropdownmenu li {
    margin: 0px;
    padding: 0px;
 
}

.dropdownmenu ul {
    background: rgb(0, 0, 0);
    list-style: none;
   
}

.dropdownmenu li {
    float: left;
    position: relative;
    
    
}

.dropdownmenu a {
    background: rgb(49, 49, 49);
    color: white;
    display: block;
    font: bold 12px/20px sans-serif;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
}

.dropdownmenu li:hover a {
    background: lightgray;
}

#submenu {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35px;
    z-index: 1;
}

#submenu li {
    width: 100%;
}

li:hover ul#submenu {
    opacity: 1;
    top: 40px;
    visibility: visible;
}

#submenu a:hover {
    background: rgb(238, 235, 235);
}

#submenu a {
    background-color: lightgray;
}

nav {
    width: 100%;
    
}

nav img{
    width: 100%;
}

#subsubmenu {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 65px;
    z-index: 1;
    visibility: hidden;
}

#subsubmenu a {
    background-color: lightgray;
}

#subsubmenu a:hover {
    background: orange;
}

#subsubmenu li {
    width: 100%;
}

#submenu li:hover ul#subsubmenu {
    opacity: 1;
    top: 0px;
    left: 124px;
    visibility: visible;
}

